
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Greens
$lightGreen: #11c107;
$green: #0d9a05;
$darkGreen: #0a7304;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$opensans: "Open Sans", sans-serif;
$georgia: Georgia, sans-serif;
$mono: 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas';

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
